body {
  background-color: wheat;
}

#map {
    position: relative;
    height: 660px;
    width: 1200px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dot {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    border: 3px solid rgb(255, 147, 147);
    border-radius: 50%;
    background-color: red;
}

.blinking{
    -webkit-animation: blink 0.5s ease-in-out infinite alternate;
    -moz-animation: blink 0.5s ease-in-out infinite alternate;
    animation: blink 0.5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }