<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고양양 화이팅</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/location.css')}}">
</head>
<body>
    <main>
        <h1>고양양고양양고양양고양양고양양고양양고양양고양양고양양고양양고양양고양양</h1>
        <h2>유실된 맨홀의 위치를 파악합니다.</h2>
        <div id="map">
            <div id="dot" class="blinking"></div>
            <img src="static/img/huemonlab.png">
        </div>
    </main>
</body>
</html>